*.class
/agenda/nbproject/private/
/agenda/build/
/TiendaVirtual/nbproject/private/

nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
*.jpeg
*.jpg
/Chat/nbproject/private/
/CipherApp/nbproject/private/
/SHA-MD5/nbproject/private/
/Restaurante/nbproject/private/
/JAhorcado/nbproject/private/
/URL_constructor/nbproject/private/